Repository IBM/ibm-spectrum-scale-csi-operator, pull requests merged in 2019-11, with the labels that each got.

#38 CI/CD enhancements
  .travis.yml
  README.md
  ansible/common/dev-env.yaml
  ansible/common/requirements-dev.txt
  scripts/ci/ci-env
  scripts/ci/fold_ouput.sh
  scripts/ci/install_minikube.sh
  scripts/ci/install_operator-sdk.sh
  scripts/ci/lint_operator-courier.sh
  scripts/ci/travis_before_script.sh
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/.osdk-scorecard.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/Makefile
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/build/Dockerfile
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/crds/ibm_v1alpha1_csiscaleoperator_cr.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/crds/ibm_v1alpha1_csiscaleoperator_crd.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/0.0.1/ibm-spectrum-scale-csi-operator.v0.0.1.clusterserviceversion.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/0.0.1/ibm_v1alpha1_csiscaleoperator_crd.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/olm-scripts/operator-push.sh
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/olm-scripts/operator-source.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/operator.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/role.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/service_account.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/example/spectrum_scale.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/hacks/change_deploy_image.py
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/hacks/clear_finalizers.py
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/hacks/csi-scale-deploy.sh
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/hacks/csi-scale-destroy.sh
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/hacks/default_crd_copy.sh
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/default/asserts.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/default/molecule.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/default/playbook.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/default/prepare.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/test-cluster/molecule.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/test-cluster/playbook.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/test-local/molecule.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/test-local/playbook.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/test-local/prepare.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/defaults/main.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/tasks/cluster_check.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/tasks/main.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/tasks/plugin_config.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/tasks/storageclass_config.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/csi-plugin-attacher.yaml.j2
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/csi-plugin-provisioner.yaml.j2
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/csi-plugin.yaml.j2
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/spectrum_scale.yaml.j2
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/watches.yaml
Labels: Component: Automation, Component: CI/CD, Component: Certification, Component: Documentation, Component: Roles, Phase: Development, Severity: 1, Type: Documentation, Type: Enhancement

#40 Adding support for NodeSelector in attacher and provisioner sidecar.
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/crds/ibm_v1alpha1_csiscaleoperator_crd.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/pkg/apis/ibm/v1alpha1/csiscaleoperator_types.go
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/pkg/apis/ibm/v1alpha1/zz_generated.deepcopy.go
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/defaults/main.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/csi-plugin-attacher.yaml.j2
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/csi-plugin-provisioner.yaml.j2
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/csi-plugin.yaml.j2
Labels: Component: API, Phase: Development, Severity: 2, Type: Enhancement, Type: Needs Test

#49 Add task item that checks docker is installed, read only task should not result in change
  ansible/common/dev-env.yaml
Labels: Component: Automation, Component: Documentation, Phase: Regression Test, Type: Bug, Type: Enhancement

#51 Adding custom Namespacing to the operator
  .travis.yml
  README.md
  ansible/cert-playbook.yaml
  ansible/cert/case_bundle.yaml
  ansible/cert/install_case.yaml
  ansible/cert/inventory
  ansible/cert/verify_operator.yaml
  ansible/common/dev-env.yaml
  ansible/common/runtime-env.yaml
  docs/source/conf.py
  scripts/ci/ci-env
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/.osdk-scorecard.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/crds/ibm_v1alpha1_csiscaleoperator_cr.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/crds/ibm_v1alpha1_csiscaleoperator_crd.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/namespace.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/0.9.1/ibm-spectrum-scale-csi-operator.v0.9.1.clusterserviceversion.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/0.9.1/ibm_v1alpha1_csiscaleoperator_crd.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/ibm-spectrum-scale-csi-operator.package.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/olm-scripts/operator-push.sh
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/operator.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/role.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/role_binding.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/service_account.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/example/spectrum_scale.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/hacks/change_deploy_image.py
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/hacks/copy_docs_csv.py
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/hacks/csi-scale-deploy.sh
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/hacks/csi-scale-destroy.sh
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/hacks/default_crd_copy.sh
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/hacks/package_operator.py
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/test-local/molecule.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/test-local/playbook.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/test-local/prepare.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/pkg/apis/ibm/v1alpha1/csiscaleoperator_types.go
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/defaults/main.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/csi-plugin-attacher.yaml.j2
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/csi-plugin-provisioner.yaml.j2
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/csi-plugin.yaml.j2
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/spectrum_scale.yaml.j2
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/version/version.go
Labels: Component: API, Component: Bundling, Severity: 3, Type: Enhancement

#56 bool => boolean
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/crds/ibm_v1alpha1_csiscaleoperator_crd.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/0.9.1/ibm_v1alpha1_csiscaleoperator_crd.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/example/spectrum_scale.yaml
Labels: Component: API, Phase: Test, Severity: 2 (must fix), Type: Bug

#57 Removing bad fields from CRD Merge.
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/crds/ibm_v1alpha1_csiscaleoperator_crd.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/0.9.1/ibm_v1alpha1_csiscaleoperator_crd.yaml
Labels: Component: API, Component: Bundling, Phase: Test, Severity: 2 (must fix), Type: Bug

#58 Travis test cases for operator operations
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/crds/ibm_v1alpha1_csiscaleoperator_crd.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/0.9.1/ibm_v1alpha1_csiscaleoperator_crd.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/example/spectrum_scale.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/default/tests/basic_tests.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/default/tests/test_node_selectors.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/default/tests/test_secrets.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/helpers/inventory
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/helpers/test_harness.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/test-local/playbook.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/molecule/test-local/prepare.yml
Labels: Component: Automation, Component: CI/CD, Component: Unit Test, Phase: Development, Severity: 3, Type: Enhancement

#55 Some changes to the main README.md file to help streamline the instructions
  README.md
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/example/spectrum_scale.yaml
Labels: Component: Documentation, Phase: Test, Severity: 3, Type: Documentation

#65 Checksum fix
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/pkg/controller/csiscalesecret/controller.go
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/tasks/cluster_check.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/tasks/main.yml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/csi-plugin-attacher.yaml.j2
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/csi-plugin-provisioner.yaml.j2
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/roles/csi-scale/templates/csi-plugin.yaml.j2
Labels: Component: Controller, Component: Roles, Component: Templates, Environment: Kubernetes, Environment: OpenShift, Phase: Test, Severity: 2 (must fix), Type: Bug

#72 Changing GUIPort type to integer.
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/crds/ibm_v1alpha1_csiscaleoperator_crd.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/0.9.1/ibm_v1alpha1_csiscaleoperator_crd.yaml
  stable/ibm-spectrum-scale-csi-operator-bundle/operators/ibm-spectrum-scale-csi-operator/deploy/olm-catalog/ibm-spectrum-scale-csi-operator/0.9.2/ibm_v1alpha1_csiscaleoperator_crd.yaml
Labels: Component: API, Phase: Test, Severity: 2 (must fix), Type: Bug
